body{
    font-family: Arial, sans-serif;
    margin:40px;
}
nav{
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
#plateau {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    width: max-content;
}

.case {
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid #333;
}

.case {
    transition: background-color 0.5s, transform 0.5s;
  }
  
  .gagnant {
    background-color: #4CAF50; /* Vert clair */
    transform: scale(1.2);
  }
  