<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Site Python</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin:40px;
        }
        nav{
            background-color: #333;
            padding: 10px;
            margin-bottom: 20px;
        }
        nav a{
            color: white;
            text-decoration: none;
            margin-right: 15px;
            font-weight: bold;
        }
        nav a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/contact">Contact</a>
    </nav>

    
    <h1>Bienvenue sur mon site web en Python ! 🎉</h1>
    <p>Ceci est une vraie page HTML.</p>
</body>
</html>