{% extends "base.html" %}

{% block titre %}News et résultats{% endblock %}

{% block contenu %}
    <h1>News et résultats</h1>
    <p>Voici les news et résultats de l'élan Chalon.</p>
    <p>résultats</p>
    <div class="bracket">
  <div class="round quarter-finals">
    <div class="match">1. Monaco vs JDA Dijon</div>
    <div class="match">4. Cholet vs Bourg-en-Bresse</div>
  </div>
  <div class="round semi-finals">
    <div class="match">Vainqueur 1 vs Vainqueur 4</div>
  </div>
  <div class="round finale">
    <div class="match">Finale</div>
  </div>
  <div class="round semi-finals">
    <div class="match">Vainqueur 2 vs Vainqueur 3</div>
  </div>
  <div class="round quarter-finals">
    <div class="match">2. ASVEL vs Elan Chalon</div>
    <div class="match">3. Paris vs Le Mans</div>
  </div>
</div>
{% endblock %}

